.page-content {
    margin-top: 80px; /* Add some space for the fixed navbar */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 600px;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"],
.register-container select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0; /* Adjusted margin to add space between label and input */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-container label {
    align-self: flex-start; /* Align labels to the start of the container */
    margin: 5px 0; /* Add some space above the label */
}

.register-container button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-container button:hover {
    background-color: #45a049;
}
