.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
    overflow-y: auto; /* Add this to make the sidebar scrollable */
}

.sidebar-button {
    display: block;
    color: #f2f2f2;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
}

.sidebar-button:hover {
    background-color: #ddd;
    color: black;
}

.sidebar-button.active {
    background-color: #ddd;
    color: black;
}

.submenu {
    margin-top: 20px;
}

.submenu p {
    color: #f2f2f2;
    margin: 10px 0;
    font-size: 18px;
}
